<div class="row">
  <div class="col-12 m-auto">
    <div class="card m-auto">
      <div class="card-header font-weight-bolder">
        Patient Informaiton
      </div>
      <div class="card-body">
        <div class="row ">
          <div class="col-md-6">
            <label for="patient_name" class="form-label font-weight-bolder">Patient Name</label>
            <input type="text" class="form-control" value="Jack Sparrow">
          </div>
          <div class="col-md-6">
            <label for="contact_no" class="form-label font-weight-bolder">Contact Number</label>
            <input type="text" class="form-control" value="1234567890">
          </div>
        </div>
        <div class="row py-1">
          <div class="col-md-6">
            <label for="email" class="form-label font-weight-bolder">Email</label>
            <input type="text" class="form-control" value="jack@yahoo.com">
          </div>
          <div class="col-md-6">
            <label for="address1" class="form-label font-weight-bolder">Address 1</label>
            <input type="text" class="form-control" value="Banjara Hills">
          </div>
        </div>
        <div class="row py-1">
          <div class="col-md-6">
            <label for="address2" class="form-label font-weight-bolder">Address 2</label>
            <input type="text" class="form-control" value="California, US">
          </div>
          <div class="col-md-6">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
