<div class="row">
  <div class="col-12 m-auto">
    <div class="card">
      <div class="card-header font-weight-bolder">
        Rejection Details
      </div>
      <div class="card-body">
        <form [formGroup]="rejForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-md-12 pb-2">
              <label for="reason" class="form-label font-weight-bolder">Rejection Reason</label>
              <select class="form-control" formControlName="reason">
                <option>Option 1</option>
                <option>Option 2</option>
              </select>
            </div>
            <div class="col-md-12 py-2">
              <label for="comment" class="form-label font-weight-bolder">Comments</label>
              <textarea class="form-control" formControlName="comment"></textarea>
              <span *ngIf="!comment.valid && comment.touched" class="text-danger">
                Please enter comments
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center">
              <button [disabled]="!rejForm.valid" type="submit" class="btn btn-primary">SAVE</button>&nbsp;
              <input type="button" class="btn btn-primary" value="CANCEL" (click)="closeMe()">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
