<app-navbar></app-navbar>
<div class="container py-3">
  <section>
    <app-patient-info></app-patient-info>
  </section>
  <section class="py-2">
    <app-order-details></app-order-details>
  </section>
  <section class="py-2">
    <div class="row text-center">
      <div class="col-md-12">
        <input type="button" class="btn btn-primary" value="ACCEPT" (click)="onAcceptClicked()">&nbsp;
        <input type="button" class="btn btn-primary" value="REJECT" (click)="onRejectClicked()">
      </div>
    </div>
  </section>
  <section class="py-2" *ngIf="showRejectSection">
    <app-reject-form-read-only [iRejData]="rejData"></app-reject-form-read-only>
  </section>
  <section class="py-2" *ngIf="showAcceptSection">
    <app-accept-form-read-only [iAcceptData]="acceptData"></app-accept-form-read-only>
  </section>
</div>
