<div class="row">
  <div class="col-12 m-auto">
    <div class="card">
      <div class="card-header font-weight-bolder">
        Rejection Details
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 pb-2">
            <label for="reason" class="form-label font-weight-bolder">Rejection Reason</label>
            <select class="form-control" value="{{rejData.reason}}">
              <option>Option 1</option>
              <option>Option 2</option>
            </select>
          </div>
          <div class="col-md-6 py-2">
            <label for="comment" class="form-label font-weight-bolder">Comments</label>
            <textarea class="form-control" value="{{rejData.comment}}"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
