<div class="row">
  <div class="col-12 m-auto">
    <div class="card m-auto">
      <div class="card-header font-weight-bolder">
        Order Details
      </div>
      <div class="card-body">
        <div class="row ">
          <div class="col-md-6">
            <label for="order_num" class="form-label font-weight-bolder">Order#</label>
            <input type="text" class="form-control" value="Order #12345">
          </div>
          <div class="col-md-6">
            <label for="total_amount" class="form-label font-weight-bolder">Total Amount</label>
            <input type="text" class="form-control" value="10500">
          </div>
        </div>
        <div class="row py-1">
          <div class="col-md-6">
            <label for="type_of_payment" class="form-label font-weight-bolder">Type of Payment</label>
            <input type="text" class="form-control" value="Credit Card">
          </div>
          <div class="col-md-6">
            <label for="status_of_payment" class="form-label font-weight-bolder">Status of Payment</label>
            <input type="text" class="form-control" value="Pending">
          </div>
        </div>
        <div class="row py-1">
          <div class="col-md-6">
            <label for="scheduled_time" class="form-label font-weight-bolder">Scheduled Time</label>
            <input type="text" class="form-control" value="31 Jul 2020 12:00 AM">
          </div>
          <div class="col-md-6">
            <label for="order_status" class="form-label font-weight-bolder">Order Status</label>
            <select class="form-control">
              <option>Dispatched</option>
            </select>
          </div>
        </div>
        <div class="row py-1">
          <div class="col-md-6">
            <label for="driver_name" class="form-label font-weight-bolder">Driver Name</label>
            <input type="text" class="form-control" value="31 Jul 2020 12:00 AM">
          </div>
          <div class="col-md-6">
            <label for="driver_contact" class="form-label font-weight-bolder">Driver Contact#</label>
            <input type="text" class="form-control" value="1234567890">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
